
:root{
    --ci-primary : #333;
}

.cicon{
    transition: 0.5s;
    width: 50px;
    height: 50px;
    position: relative;
}
.cicon::before, .cicon::after{
    transition: 0.5s;
    content: " ";
    position: absolute;
}


.cicon.cat{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    margin: 12px 6px;
}
.cicon.cat::before, .cicon.cat::after{
    width: 10px;
    height: 15px;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
    top: -16px;
}
.cicon.cat::before{
    left: 0px;
    border-top-left-radius: 100%;
    transform-origin: bottom right;
    transform: rotateZ(-37deg);
}
.cicon.cat::after{
    right: 1px;
    border-top-right-radius: 100%;
    transform-origin: bottom left;
    transform: rotateZ(36deg);
}


.cicon.account{
    width: 50px;
    height: 50px;
    background: none;
}
.cicon.account::after{
    width: 48px;
    height: 24px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 1px solid var(--ci-primary);
    bottom: 0;
}
.cicon.account::before{
    width: 20px;
    height: 20px;
    top: 0px;
    left: calc(50px/2 - 20px/2);
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
}


.cicon.hamburger{
    width: 49px;
    height: 0px;
    border-bottom: 1px solid var(--ci-primary);
    margin-top: 6px
}
.cicon.hamburger::before, .cicon.hamburger::after{
    width: 49px;
    height: 0px;
    border-bottom: 1px solid var(--ci-primary);
    left: 0px;
}
.cicon.hamburger::before{
    top: 37px;
}
.cicon.hamburger::after{
    bottom:  -20px;
}


.cicon.pc{
    width: 47px;
    height: 32px;
    position: relative;
    border-radius: 5px;
    border: 1px solid var(--ci-primary);
    perspective: 100px;
}
.cicon.pc::before{
    height: 12px;
    width: 10px;
    bottom: -13px;
    left: 18px;
    border: 1px solid var(--ci-primary);
    border-top: none;
}
.cicon.pc::after{
    width: 24px;
    height: 2px;
    border: 1px solid var(--ci-primary);
    bottom: -16px;
    left: 11px;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}

.cicon.add{
    position: relative;
    margin-left: 5px; 
    margin-top: 25px; 
    width: 40px; 
    height: 1px;
    border-bottom: 1px solid var(--ci-primary);
}
.cicon.add::after{
    width: 1px;
    height: 40px;
    border-left: 1px solid var(--ci-primary);
    top: -19px;
    left: 19px;
}


.cicon.minus{
    position: absolute; 
    margin-left: 5px; 
    margin-top: 25px; 
    width: 40px; 
    height: 1px;
    border-bottom: 1px solid var(--ci-primary);
}


.cicon.close{
    position: relative;
    margin-left: 5px; 
    margin-top: 25px; 
    width: 40px; 
    height: 1px;
    border-bottom: 1px solid var(--ci-primary);
    transform: rotateZ(45deg);
}
.cicon.close::after{
    width: 1px;
    height: 40px;
    border-left: 1px solid var(--ci-primary);
    top: -19px;
    left: 19px;
}


.cicon.message{
    width: 48px;
    height: 30px;
    border: 1px solid var(--ci-primary);
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
}
.cicon.message::before, .cicon.message::after{
    width: 31px;
    height: 1px;
    border-bottom: 1px solid var(--ci-primary);
    transform-origin: top left;
    transform: rotateZ(36deg);
    top: -1px;
}
.cicon.message::after{
    transform-origin: top right;
    transform: rotateZ(-36deg);
    right: 0;
}


.cicon.search{
    position: relative;
}
.cicon.search::before{
    width: 26px;
    height: 26px;
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.cicon.search::after{
    height: 25px;
    width: 1px;
    border-left: 1px solid var(--ci-primary);
    top: 29px;
    left: 27px;
    transform: rotateZ(-45deg);
    transform-origin: top left;
}


.cicon.heart{
    position: relative;
    width: 28px;
    height: 28px;
    border-bottom: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary); 
    transform: rotateZ(45deg);
    margin-top: 12px;
    margin-left: 10px;
}
.cicon.heart::after, .cicon.heart::before{
    height: 16px;
    width: 22px;
}
.cicon.heart::before{
    left: -16px;
    top: 7px;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid var(--ci-primary);
    border-left: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: rotateZ(-76deg);
}
.cicon.heart::after{
    height: 22px;
    width: 16px;
    left: 7px;
    top: -16px;
    border-radius: 0 20px 20px 0;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: rotateZ(-104deg);
}


.cicon.male{
    width: 28px;
    height: 28px;
    position: relative;
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 2px;
}
.cicon.male::before{
    height: 30px;
    width: 1px;
    border-left: 1px solid var(--ci-primary);
    top: -21px;
    right: -7px;
    transform: rotateZ(45deg);
}
.cicon.male::after{
    width: 16px;
    height: 16px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    top: -17px;
    right: -17px;
}


.cicon.female{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    margin-left: 13px;
    margin-top: 1px;
    position: relative;
}
.cicon.female::before{
    width: 13px;
    border-bottom: 1px solid var(--ci-primary);
    bottom: -7px;
    left: 6px;
}
.cicon.female::after{
    height: 20px;
    width: 1px;
    border-right: 1px solid var(--ci-primary);
    top: 26px;
    left: 11px;
}


.cicon.shutdown{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    border-top: 1px solid transparent;
    margin-left: 6px;
    margin-top: 10px;
}
.cicon.shutdown::before{
    height: 24px;
    width: 1px;
    border-right: 1px solid var(--ci-primary);
    top: -10px;
    left: 17px;
}


.cicon.disabled{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    margin-top: 2px;
    margin-left: 2px;
}
.cicon.disabled::before{
    height: 45px;
    width: 1px;
    background-color: var(--ci-primary);
    transform: rotateZ(45deg);
    right: 22px;
}


.cicon.reload{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    border-left: 1px solid transparent;
    margin-left: 3px;
    margin-top: 6px;
    transform: rotateZ(-12deg);
}
.cicon.reload::before{
    width: 12px;
    height: 12px;
    border-left: 1px solid var(--ci-primary);    
    border-bottom: 1px solid var(--ci-primary);
    top: -7px;
    left: 5px;
    transform-origin: bottom left;
    transform: rotateZ(12deg);
}


.cicon.wifi{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid var(--ci-primary);
    margin-left: -6px;
    margin-top: 4px;
}
.cicon.wifi::before{
    width: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid var(--ci-primary);
    left: 10px;
    height: 40px;
    top: 16px;
}
.cicon.wifi::after{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    top: 34px;
    left: 29px;
}


.cicon.arrowLeft{
    width : 46px;
    border-bottom: 1px solid var(--ci-primary);
    margin-top: -24px;
    margin-left: 2px;
}
.cicon.arrowLeft::after{
    width : 16px;
    height : 16px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform : rotateZ(-135deg);
    top: 42px;
    left: 2px;
}


.cicon.arrowRight{
    width : 46px;
    border-bottom: 1px solid var(--ci-primary);
    margin-top: -24px;
    margin-left: 2px;
}
.cicon.arrowRight::after{
    width : 16px;
    height : 16px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform : rotateZ(45deg);
    top: 42px;
    right: 2px;
}


.cicon.arrowUp{
    height : 46px;
    border-right: 1px solid var(--ci-primary);
    margin-left: -24px;
    margin-top: 2px;
}
.cicon.arrowUp::after{
    width : 16px;
    height : 16px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform : rotateZ(-45deg);
    left: 41.5px;
    top: 3px;
}


.cicon.arrowDown{
    height : 46px;
    border-right: 1px solid var(--ci-primary);
    margin-left: -24px;
    margin-top: 2px;
}
.cicon.arrowDown::after{
    width : 16px;
    height : 16px;
    border-bottom: 1px solid var(--ci-primary);
    border-left: 1px solid var(--ci-primary);
    transform : rotateZ(-45deg);
    left: 41.5px;
    bottom: 3px;
}


.cicon.checked{
    width: 38px;
    height: 20px;
    border-bottom: 1px solid var(--ci-primary);
    border-left: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    margin-top: 8px;
    margin-left: 6px;
}



.cicon.play{
    width: 32px;
    height: 32px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    margin-top: 8px;
}
.cicon.play::before{
    height: 46px;
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: -8px;
    left: 16px;
}

.cicon.pause{
    margin-top: 1px;
    margin-left: 3px;
}
.cicon.pause, .pause::before{
    height: 46px;
    width: 16px;
    border: 1px solid var(--ci-primary);
}
.cicon.pause::before{
    left: 26px;
    top: -1px;
}


.cicon.stop{
    width: 46px;
    height: 46px;
    border: 1px solid var(--ci-primary);
    margin-top: 1px;
    margin-left: 1px;
}


.cicon.next{
    width: 32px;
    height: 32px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    margin-top: 8px;
    margin-left: -6px;
}
.cicon.next::before{
    height: 46px;
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: -8px;
    left: 16px;
}
.cicon.next::after{
    height: 46px;
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: -28px;
    right: -5px;
}


.cicon.previous{
    width: 32px;
    height: 32px;
    border-bottom: 1px solid var(--ci-primary);
    border-left: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    margin-top: 8px;
    margin-left: 20px;
}
.cicon.previous::before{
    height: 46px;
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: -6px;
    left: 15px;
}
.cicon.previous::after{
    height: 46px;
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: 13px;
    left: -5px;
}


.cicon.document{
    width: 40px;
    height: 46px;
    border: 1px solid var(--ci-primary);
    margin-left: 4px;
    margin-top: 1px;
}
.cicon.document::before{
    width: 30px;
    height: 1px;
    top: 6px;
    left: 5px;
    background-color: var(--ci-primary);
    box-shadow: 0px 4px 0 var(--ci-primary),
                0px 8px 0 var(--ci-primary),
                0px 12px 0 var(--ci-primary),
                0px 16px 0 var(--ci-primary),
                0px 20px 0 var(--ci-primary),
                0px 24px 0 var(--ci-primary);
}
.cicon.document::after{
    width: 8px;
    height: 1px;
    bottom: 8px;
    right: 5px;
    background-color: var(--ci-primary);
    box-shadow: -8px 0 0 var(--ci-primary),
                0px 4px 0 var(--ci-primary);
}


.cicon.edit{
    height: 30px;
    width: 12px;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
    transform: rotate(45deg);
    margin-left: 16px;
    margin-top: 12px;
}
.cicon.edit::before{
    width: 9px;
    height: 9px;
    border-right: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    left: 1px;
    top: 25px;
}
.cicon.edit::after{
    width: 12px;
    height: 6px;
    border: 1px solid var(--ci-primary);
    top: -10px;
    right: -1px;
}


.cicon.trash{
    height: 40px;
    width: 32px;
    border: 1px solid var(--ci-primary);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 6px;
    margin-left: 8px;
}
.cicon.trash::before{
    width: 32px;
    height: 8px;
    border-radius: 50%;
    top: -4px;
    left: -1px;
    border: 1px solid var(--ci-primary);
}
.cicon.trash::after{
    height: 26px;
    border-right: 1px solid var(--ci-primary);
    bottom: 4px;
    left: 8px;
    box-shadow: 8px 0 0 var(--ci-primary), 16px 0 0 var(--ci-primary);
}


.cicon.music{
    width: 24px;
    height: 38px;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
    transform: skew(10deg) rotate(10deg);
    margin-left: 16px;
    margin-top: 4px;
}
.cicon.music::before, .music::after{
    width: 12px;
    height: 10px;
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
    transform: rotate(-30deg);
    bottom: -5px;
}
.cicon.music::before{
    left: -14px;
}
.cicon.music::after{
    right: -1px;
}


.cicon.home{
    width: 36px;
    height: 28px;
    border: 1px solid var(--ci-primary);
    border-top: none;
    margin: auto;
    margin-top: 20px;
}
.cicon.home::before{
    width: 34px;
    height: 34px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    top: -12px;
}
.cicon.home:after{
    width: 10px;
    height: 17px;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
    bottom: 0;
    left: 12px;
}


.cicon.threePoints{
    margin: auto;
    margin-top: 6px;
}
.cicon.threePoints, .cicon.threePoints::before, .cicon.threePoints::after{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
}
.cicon.threePoints::before{
    top: 14px;
    left: -1px;
}
.cicon.threePoints::after{
    top: 30px;
    left: -1px;
}


.cicon.threePointsHorizontal{
    margin: auto;
    margin-top: 20px;
}
.cicon.threePointsHorizontal, .cicon.threePointsHorizontal::before, .cicon.threePointsHorizontal::after{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
}
.cicon.threePointsHorizontal::before{
    top: -1px;
    left: -17px;
}
.cicon.threePointsHorizontal::after{
    top: -1px;
    left: 15px;
}


.cicon.chat{
    width: 46px;    
    height: 28px;
    border: 1px solid var(--ci-primary);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: auto;
    margin-top: 8px;
    border-bottom: none;
}
.cicon.chat::before{
    width: 8px;
    border-bottom: 1px solid var(--ci-primary);
    bottom: 0;
    box-shadow: 8px 0 0 var(--ci-primary), 14px 0 0 var(--ci-primary), 38px 0 0 var(--ci-primary);
}
.cicon.chat::after{
    width: 11px;
    height: 11px;
    border-left: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    bottom: -6px;
    right: 10px;
    transform: rotate(-45deg);
}



.cicon.keyboard{
    width: 42px;
    height: 24px;
    margin: auto;
    margin-top: 12px;
    border: 1px solid var(--ci-primary);
}
.cicon.keyboard::before{
    width: 2px;
    height: 2px;
    top: 4px;
    left: 6px;
    background-color: var(--ci-primary);
    box-shadow: 
        8px 0px 0 var(--ci-primary),
        4px 0px 0 var(--ci-primary),
        12px 0px 0 var(--ci-primary),
        16px 0px 0 var(--ci-primary),
        20px 0px 0 var(--ci-primary),
        24px 0px 0 var(--ci-primary),
        28px 0px 0 var(--ci-primary),
        20px 0px 0 var(--ci-primary),

        0px 4px 0 var(--ci-primary),
        4px 4px 0 var(--ci-primary),
        8px 4px 0 var(--ci-primary),
        12px 4px 0 var(--ci-primary),
        16px 4px 0 var(--ci-primary),
        20px 4px 0 var(--ci-primary),
        24px 4px 0 var(--ci-primary),
        28px 4px 0 var(--ci-primary),
        20px 4px 0 var(--ci-primary),

        0px 8px 0 var(--ci-primary),
        4px 8px 0 var(--ci-primary),
        8px 8px 0 var(--ci-primary),
        12px 8px 0 var(--ci-primary),
        16px 8px 0 var(--ci-primary),
        20px 8px 0 var(--ci-primary),
        24px 8px 0 var(--ci-primary),
        28px 8px 0 var(--ci-primary),
        20px 8px 0 var(--ci-primary),

        0px 14px 0 var(--ci-primary),
        4px 14px 0 var(--ci-primary),
        8px 14px 0 var(--ci-primary),
        10px 14px 0 var(--ci-primary),
        12px 14px 0 var(--ci-primary),
        14px 14px 0 var(--ci-primary),
        16px 14px 0 var(--ci-primary),
        18px 14px 0 var(--ci-primary),
        20px 14px 0 var(--ci-primary),
        24px 14px 0 var(--ci-primary),
        28px 14px 0 var(--ci-primary);
}


.cicon.mouse{
    height: 20px;
    width: 18px;
    margin:auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid var(--ci-primary);
    margin-top: 20px;
}
.cicon.mouse::before{
    height: 8px;
    width: 7.5px;
    border-top-left-radius: 50%;
    border: 1px solid var(--ci-primary);
    left: -1px;
    top: -12px;
}
.cicon.mouse::after{
    height: 8px;
    width: 7.5px;
    border-top-right-radius: 50%;
    border: 1px solid var(--ci-primary);
    right: -1px;
    top: -12px;
}


.cicon.grid{
    width: 4px;
    height: 4px;
    margin-top: 11px;
    margin-left: 11px;
    background-color: var(--ci-primary);
    box-shadow: 
        12px 0 0 var(--ci-primary), 
        24px 0 0 var(--ci-primary),

        0px 12px 0 var(--ci-primary),
        12px 12px 0 var(--ci-primary), 
        24px 12px 0 var(--ci-primary),

        0px 24px 0 var(--ci-primary),
        12px 24px 0 var(--ci-primary), 
        24px 24px 0 var(--ci-primary);
}


.cicon.note{
    height: 34px;
    width: 0px;
    margin: auto;
    border-left: 1px solid var(--ci-primary);
    margin-top: 5px;
    margin-left: 28px;
}
.cicon.note::after{
    width: 11px;
    height: 10px;
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
    transform: rotate(-30deg);
    bottom: -7px;
    left: -13px;
}


.cicon.invader{
    width: 4px;
    height: 4px;
    margin-left: 11px;
    margin-top: 8px;
    background-color: var(--ci-primary);
    box-shadow: 
        24px 0 0 var(--ci-primary),
        
        4px 4px 0 var(--ci-primary),
        20px 4px 0 var(--ci-primary),
        
        0px 8px 0 var(--ci-primary),
        4px 8px 0 var(--ci-primary),
        8px 8px 0 var(--ci-primary),
        12px 8px 0 var(--ci-primary),
        16px 8px 0 var(--ci-primary),
        20px 8px 0 var(--ci-primary),
        24px 8px 0 var(--ci-primary),

        -4px 12px 0 var(--ci-primary),
        0px 12px 0 var(--ci-primary),       
        8px 12px 0 var(--ci-primary),
        12px 12px 0 var(--ci-primary),
        16px 12px 0 var(--ci-primary),
        24px 12px 0 var(--ci-primary),
        28px 12px 0 var(--ci-primary),

        -8px 16px 0 var(--ci-primary),
        -4px 16px 0 var(--ci-primary),
        0px 16px 0 var(--ci-primary),
        4px 16px 0 var(--ci-primary),
        8px 16px 0 var(--ci-primary),
        12px 16px 0 var(--ci-primary),
        16px 16px 0 var(--ci-primary),
        20px 16px 0 var(--ci-primary),
        24px 16px 0 var(--ci-primary),  
        28px 16px 0 var(--ci-primary),
        32px 16px 0 var(--ci-primary),

        -8px 20px 0 var(--ci-primary),
        0px 20px 0 var(--ci-primary),
        4px 20px 0 var(--ci-primary),
        8px 20px 0 var(--ci-primary),
        12px 20px 0 var(--ci-primary),
        16px 20px 0 var(--ci-primary),
        20px 20px 0 var(--ci-primary),
        24px 20px 0 var(--ci-primary),
        32px 20px 0 var(--ci-primary),

         -8px 24px 0 var(--ci-primary),
        0px 24px 0 var(--ci-primary),
        24px 24px 0 var(--ci-primary),
        32px 24px 0 var(--ci-primary),

        4px 28px 0 var(--ci-primary),
        8px 28px 0 var(--ci-primary),
        16px 28px 0 var(--ci-primary),
        20px 28px 0 var(--ci-primary)
        ;
}


.cicon.location{
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    margin-top: 5px;
}
.cicon.location::before{
    width: 29px;
    height: 25px;
    border-left: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: rotate(-104deg) skew(-29deg);
    bottom: 1px;
    left: -1px;
}
.cicon.location::after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    top: 7px;
    left: 7px;
}


.cicon.camera{
    width: 40px;
    height: 28px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid var(--ci-primary);
    border-radius: 3px;
}
.cicon.camera::before{
    width: 8px;
    height: 2px;
    border: 1px solid var(--ci-primary);
    border-bottom-color: transparent;
    border-radius: 1px;
    right: 4px;
    top: -4px;
}
.cicon.camera::after{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    left: 10px;
    top: 4px;
}


.cicon.time{
    width: 42px;
    height: 42px;
    margin: auto;
    margin-top: 3px;
    border: 1px solid var(--ci-primary);
    border-radius: 50%;
}
.cicon.time::before{
        width: 12px;
    height: 12px;
    border-bottom: 1px solid var(--ci-primary);
    border-left: 1px solid var(--ci-primary);
    left: 20.5px;
    top: 12px;
    transform: skew(20deg) rotate(20deg);
}
.cicon.time::after{
    width: 1px;
    height: 1px;
    background-color: var(--ci-primary);
    top: 0px;
    left: 20px;
        box-shadow: 
        21px 21px 0 var(--ci-primary), 
        0px 41px 0 var(--ci-primary), 
        -20px 21px 0 var(--ci-primary), 

        16px 7px 0 var(--ci-primary), 
        16px 34px 0 var(--ci-primary), 
        -15px 7px 0 var(--ci-primary), 
        -15px 34px 0 var(--ci-primary);
}


.cicon.smartphone{
    margin: auto;
    width: 30px;
    height: 46px;
    margin-top: 2px;
    border: 1px solid var(--ci-primary);
    border-radius: 2px;
}
.cicon.smartphone::before{
    width: 24px;
    height: 36px;
    margin-top: 2px;
    border: 1px solid var(--ci-primary);
    left: 2px;
    top: 1px;
}
.cicon.smartphone::after{
    width: 4px;
    height: 1px;
    bottom: 1px;
    border: 1px solid var(--ci-primary);
    border-radius: 2px;
    left: 12px;
}


.cicon.terminal{
    width: 42px;
    height: 32px;
    border: 1px solid var(--ci-primary);
    margin: auto;
    margin-top: 9px;
}
.cicon.terminal::before{
    width: 5px;
    height: 5px;
    top: 5px;
    left: 2px;
    border-top: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: rotate(45deg);

}
.cicon.terminal::after{
    height: 6px;
    width: 6px;
    border-bottom: 1px solid var(--ci-primary);
    top: 6px;
    left: 12px;
}


.cicon.laptop{
    width: 42px;
    height: 32px;
    border: 1px solid var(--ci-primary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: auto;
    margin-top: 6px;
}
.cicon.laptop::before{
    width: 38px;
    height: 28px;
    border: 1px solid var(--ci-primary);
    top: 1px;
    left: 1px;
}
.cicon.laptop::after{
    width: 48px;
    height: 2px;
    border: 1px solid var(--ci-primary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: -6px;
    left: -4px;
}


.cicon.lock{
    width: 32px;
    height: 24px;
    border: 1px solid var(--ci-primary);
    margin: auto;
    margin-top: 20px;
}
.cicon.lock::before{
    width: 20px;
    height: 16px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid var(--ci-primary);
    border-bottom: 1px solid transparent;
    top: -18px;
    left: 5px;
}


.cicon.micro{
    width: 13px;
    height: 30px;
    margin:auto;
    margin-top: 1px;
    border: 1px solid var(--ci-primary);
    border-radius: 4px;
}
.cicon.micro::before{
    width: 41px;
    height: 52px;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    border-bottom-color: var(--ci-primary);
    bottom: -5px;
    left: -15px;
}
.cicon.micro::after{
    height: 12px;
    width: 1px;
    border-left: 1px solid var(--ci-primary);
    bottom: -17px;
    left: 6px;
}


.cicon.sound{
    width: 10px;
    height: 12px;
    border: 1px solid var(--ci-primary);
    border-right: none;
    margin-top: 18px;
    margin-left: 8px;
}
.cicon.sound::before{
    width: 22px;
    height: 18px;
    border: 1px solid var(--ci-primary);
    border-right-color: transparent;
    left: 3px;
    top: -4px;
    transform: perspective(18px) rotateY(-48deg) rotateZ(180deg);
}
.cicon.sound::after{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-right: 1px solid var(--ci-primary);
    right: -26px;
    top: -4px;
}


.cicon.mute{
    width: 10px;
    height: 12px;
    border: 1px solid var(--ci-primary);
    border-right: none;
    margin-top: 18px;
    margin-left: 8px;
}
.cicon.mute::before{
    width: 22px;
    height: 18px;
    border: 1px solid var(--ci-primary);
    border-right-color: transparent;
    left: 3px;
    top: -4px;
    transform: perspective(18px) rotateY(-48deg) rotateZ(180deg);
}
.cicon.mute::after{
    height: 54px;
    width: 1px;
    border-left: 1px solid var(--ci-primary);
    transform: rotate(-40deg);
    top: -19px;
    left: 16px;
}


.cicon.equalizer{
    width: 10px;
    height: 1px;
    background-color: var(--ci-primary);
    margin-top: 46px;
    margin-left: 2px;

    box-shadow: 
        0 -3px 0 var(--ci-primary),
        0 -6px 0 var(--ci-primary),
        0 -9px 0 var(--ci-primary),
        0 -12px 0 var(--ci-primary),
        0 -15px 0 var(--ci-primary),
        0 -18px 0 var(--ci-primary),
        0 -21px 0 var(--ci-primary),
        0 -24px 0 var(--ci-primary),
        0 -27px 0 var(--ci-primary),
        
        12px 0 0 var(--ci-primary),
        12px -3px 0 var(--ci-primary),
        12px -6px 0 var(--ci-primary),
        12px -9px 0 var(--ci-primary),

        24px 0 0 var(--ci-primary),
        24px -3px 0 var(--ci-primary),
        24px -6px 0 var(--ci-primary),
        24px -9px 0 var(--ci-primary),
        24px -12px 0 var(--ci-primary),
        24px -15px 0 var(--ci-primary),
        24px -18px 0 var(--ci-primary),
        24px -21px 0 var(--ci-primary),
        24px -24px 0 var(--ci-primary),
        24px -27px 0 var(--ci-primary),
        24px -30px 0 var(--ci-primary),
        24px -33px 0 var(--ci-primary),
        24px -36px 0 var(--ci-primary),
        24px -39px 0 var(--ci-primary),

        36px 0 0 var(--ci-primary),
        36px -3px 0 var(--ci-primary),
        36px -6px 0 var(--ci-primary),
        36px -9px 0 var(--ci-primary),
        36px -12px 0 var(--ci-primary),
        36px -15px 0 var(--ci-primary),
        36px -18px 0 var(--ci-primary)
    ;
}


.cicon.code{
    margin: auto;
    width: 1px;
    margin-top: 12px;
}
.cicon.code::before,.cicon.code::after{
    width: 24px;
    height: 24px;
}
.cicon.code::after{
    border-right: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    right: -18px;
}
.cicon.code::before{
    border-left: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    left: -18px;
}


.cicon.hashtag{
    width: 32px;
    height: 12px;
    margin: auto;
    border-top: 1px solid var(--ci-primary);
    border-bottom: 1px solid var(--ci-primary);
    transform: skewX(-10deg);
    margin-top: 18px;
}
.cicon.hashtag::before{
    width: 12px;
    height: 32px;
    margin: auto;
    border-left: 1px solid var(--ci-primary);
    border-right: 1px solid var(--ci-primary);
    transform: skewX(-10deg);
    top: -10px;
    left: 9px;
}


.cicon.chip{
    margin: auto;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid var(--ci-primary);
}
.cicon.chip::before{
    height: 6px;
    width: 1px;
    background-color: var(--ci-primary);
    top: -6px;
    left: 4px;
    box-shadow: 
        4px 0 0 var(--ci-primary),
        8px 0 0 var(--ci-primary),
        12px 0 0 var(--ci-primary),
        16px 0 0 var(--ci-primary),
        20px 0 0 var(--ci-primary),
        
        0 36px 0 var(--ci-primary),
        4px 36px 0 var(--ci-primary),
        8px 36px 0 var(--ci-primary),
        12px 36px 0 var(--ci-primary),
        16px 36px 0 var(--ci-primary),
        20px 36px 0 var(--ci-primary);
}
.cicon.chip::after{
    height: 1px;
    width: 6px;
    background-color: var(--ci-primary);
    left: -6px;
    top: 4px;
    box-shadow: 
        0 4px 0 var(--ci-primary),
        0 8px 0 var(--ci-primary),
        0 12px 0 var(--ci-primary),
        0 16px 0 var(--ci-primary),
        0 20px 0 var(--ci-primary),

        36px 0px 0 var(--ci-primary),
        36px 4px 0 var(--ci-primary),
        36px 8px 0 var(--ci-primary),
        36px 12px 0 var(--ci-primary),
        36px 16px 0 var(--ci-primary),
        36px 20px 0 var(--ci-primary)
    ;
}


.cicon.git{
    width: 32px;
    height: 0;
    margin: auto;
    border: 1px solid var(--ci-primary);
    margin-top: 6px;
    margin-left: 12px;
    transform: rotate(45deg);
    transform-origin: top left;
}
.cicon.git:before{
    height: 22px;
    width: 0;
    border: 1px solid var(--ci-primary);
    transform: rotate(-45deg);
    left: 22px;
    top: -3px;
}
.cicon.git::after{
    width: 8px;
    height: 8px;
    background-color: var(--ci-primary);
    border-radius: 50%;
    top: -4px;
    left: 11px;
    box-shadow: 15px 16px 0 var(--ci-primary), 20px -1px 0 var(--ci-primary);
}


.cicon.batteryFull,.cicon.batteryHalf,.cicon.batteryEmpty{
    width: 41px;
    height: 24px;
    border: 1px solid var(--ci-primary);
    border-radius: 2px;
    margin-top: 12px;
    margin-left: 1px;
}
.cicon.batteryFull::before,.cicon.batteryHalf::before,.cicon.batteryEmpty::before{
    height: 10px;
    width: 4px;
    border: 1px solid var(--ci-primary);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    right: -6px;
    top: 6px;
}
.cicon.batteryFull::after, .cicon.batteryHalf::after, .cicon.batteryEmpty::after{
    height: 18px;
    border: 1px solid var(--ci-primary);
    border-radius: 2px;
    top: 2px;
    left: 2px;
}
.cicon.batteryFull::after{
    width: 35px;
}
.cicon.batteryHalf::after{
    width: 18px;
}
.cicon.batteryEmpty::after{
    width: 2px;
}


.cicon.info{
    margin: auto;
    margin-top: 3px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
}
.cicon.info::before{
    height: 14px;
    width: 4px;
    border-radius: 4px;
    border: 1px solid var(--ci-primary);
    left: 18px;
    bottom: 8px;
}
.cicon.info::after{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 1px solid var(--ci-primary);
    left: 18px;
    top: 8px;
}


.cicon.notification{
    width: 26px;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
}
.cicon.notification::before{
    width: 38px;
    height: 0;
    border-top: 1px solid var(--ci-primary);
    bottom: 0px;
    left: -6px;
}
.cicon.notification::after{
    width: 20px;
    height: 70px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--ci-primary);
    bottom: -7px;
    left: 2px;
}


.cicon.bookmark{
    width: 26px;
    height: 42px;
    border: 1px solid var(--ci-primary);
    border-bottom: none;
    margin: auto;
    margin-top: 3px;
}
.cicon.bookmark::before{
    width: 19px;
    height: 19px;
    border-left: 1px solid var(--ci-primary);
    border-top: 1px solid var(--ci-primary);
    transform: rotate(45deg);
    left: 3px;
    bottom: -10px;
}


/* TODO
.cicon.favorite{

}


.cicon.fullscreen{

}


.cicon.parameters{

}


.cicon.cart{

}

.cicon key{

}

*/